
/* 0 1 1  (has higher specificity because it has type selector also*/
p.burger{
    background-color: red;
}

/* 0 1 0 */
.burger{    
    background-color: pink;
}

/* 1 0 1 */
h3#heading-3 {
    background-color: burlywood;
}

 
/* 1 0 0  */
#heading-3 {
    background-color: violet;
}

/* 1 1 1 */
h3.subheading#heading-3 {
    background-color: cornflowerblue;
}

/* 0 1 1 */
p.pizza{
    background-color: yellowgreen;
}

/* 0 2 1 */
p.pizza.fruit { background-color: blue;

}

/* 1 0 0 */
#fruit{
    background-color: brown;
}
