.block {
    background-color: aquamarine;
}

/* .block h2 */
.block__header {
    color: white;
}


/* .block p */
.block__text {
    color: darkkhaki;
}


/* .block button */
.block__button {
    font-style: italic;
    text-transform: uppercase;
}

.block__button--danger {
    background-color: red;
}

.block__button--default {
background-color: darkgray;
}

.news p{

}

.news button {
    
}